/***********************************************************************************************
* COLORS
************************************************************************************************/
$white: white;

// PRIMARY
$primary-0: #EFF6FF;
$primary-10: #DBEAFE;
$primary-20: #BFDBFE;
$primary-30: #93C5FD;
$primary-40: #60A5FA;
$primary-50: #2563EB;
$primary-60: #1D4ED8;
$primary-70: #1E40AF;
$primary-80: #1E3A8A;
$primary-90: #172554;

// SECONDARY
$secondary-0: #D1FAE5;
$secondary-10: #D1FAE5;
$secondary-20: #A7F3D0;
$secondary-30: #6EE7B7;
$secondary-40: #34D399;
$secondary-50: #059669;
$secondary-60: #047857;
$secondary-70: #065F46;
$secondary-80: #064E3B;
$secondary-90: #022C22;

// TERTIARY
$tertiary-0: #FAF5EF ;
$tertiary-10: #F3E9DC;
$tertiary-20: #E7D3B8;
$tertiary-30: #D4B48C;
$tertiary-40: #C29A6B;
$tertiary-50: #A67C52;
$tertiary-60: #8E6A45;
$tertiary-70: #775736;
$tertiary-80: #5E4328;
$tertiary-90: #3F2C1A;

// COMPETITION
$competition-0: #F5F3FF ;
$competition-10: #EDE9FE;
$competition-20: #DDD6FE;
$competition-30: #C4B5FD;
$competition-40: #A78BFA;
$competition-50: #7C3AED;
$competition-60: #6D28D9;
$competition-70: #5B21B6;
$competition-80: #4C1D95;
$competition-90: #2E1065;


// ERROR
$error-0: #FEF2F2 ;
$error-10: #FEE2E2;
$error-20: #FECACA;
$error-30: #FCA5A5;
$error-40: #F87171;
$error-50: #9E2A2B;
$error-60: #7F1F20;
$error-70: #651718 ;
$error-80: #4B1011;
$error-90: #2F0809;

// SUCCESS
$success-0: #F0FDF4 ;
$success-10: #DCFCE7;
$success-20: #BBF7D0;
$success-30: #86EFAC;
$success-40: #22C55E;
$success-50: #16A34A;
$success-60: #15803D;
$success-70: #166534 ;
$success-80: #14532D;
$success-90: #052E16;

// WARNING
$warning-0: #FFFBEB ;
$warning-10: #FEF3C7;
$warning-20: #FDE68A;
$warning-30: #FCD34D;
$warning-40: #FACC15;
$warning-50: #EAB308;
$warning-60: #CA8A04;
$warning-70: #A16207 ;
$warning-80: #854D0E;
$warning-90: #713F12;

// INFO
$info-0: #EFF6FB ;
$info-10: #E0F2FE;
$info-20: #BAE6FD;
$info-30: #7DD3FC;
$info-40: #38BDF8;
$info-50: #0EA5E9;
$info-60: #0284C7;
$info-70: #0369A1 ;
$info-80: #075985;
$info-90: #0C4A6E;

// NEUTRAL
$neutral-0: #F8F9FA ;
$neutral-10: #F1F3F5;
$neutral-20: #E9ECEF;
$neutral-30: #DEE2E6;
$neutral-40: #CED4DA;
$neutral-50: #ADB5BD;
$neutral-60: #6C757D;
$neutral-70: #495057 ;
$neutral-80: #343A40;
$neutral-90: #23262C;

$sidebar: #1B263F;

/***********************************************************************************************
* BORDER
************************************************************************************************/
$border-radius: 14px;
$border-size: 1px;

/***********************************************************************************************
* FONT-SIZE
************************************************************************************************/
$h1: 26px;
$h2: 22px;
$h3: 18px;
$h4: 16px;

$body: 14px;
$button: 14px;
$label: 13px;

$small: 12px;
$caption: 11px;