<nav class="rider-profile-tabs" aria-label="Navigation du profil cavalier">
	<button class="rider-profile-tabs__item rider-profile-tabs__item--active" type="button">
		<i class="fa-solid fa-medal"></i>
		{{ 'rider.galop_history' | trans }}
	</button>

	<button class="rider-profile-tabs__item" type="button">
		<i class="fa-solid fa-trophy"></i>
		{{ 'rider.competitions' | trans }}
	</button>

	<button class="rider-profile-tabs__item" type="button">
		<i class="fa-solid fa-horse"></i>
		{{ 'rider.horses' | trans }}
	</button>
</nav>
