{% extends "base.html.twig" %}

{% block title %}
	{{ 'rider.profile' | trans }}
{% endblock %}

{% import "macros/macros.html.twig" as macros %}

{% block body %}
	<section id="rider" class="rider-profile">
		<div class="rider-profile__header">
			<h1>{{ 'rider.profile' | trans }}</h1>

			{% if rider %}
				{{ macros.modalButton(
					'edit-rider-profile',
					'general.edit',
					'fa-solid fa-pen',
					'rider-profile-edit-modal',
					'rider-profile__edit-link'
				) }}
			{% endif %}
		</div>

		{% if rider is null %}
			<div class="rider-profile__empty">
				{{ 'rider.no_rider' | trans }}
			</div>
		{% else %}
			<div class="rider-profile__layout">
				{% include "rider_profile/_info-rider.html.twig" with {
                    rider: rider,
                    lastGalop: lastGalop
                } %}

				<section class="rider-profile-panel">
					{% include "rider_profile/_tabs.html.twig" %}

					<div class="rider-profile-panel__content">
						<div class="rider-profile-tab-content rider-profile-tab-content--active" id="tab-galops">
							{% include "rider_profile/_tab-galops.html.twig" with {
                                galopHistory: galopHistory,
								riderGalopEditForms: riderGalopEditForms,
								openRiderGalopEditModalId: openRiderGalopEditModalId|default(null)
                            } %}
						</div>
					</div>
				</section>
			</div>
			{% include "rider_profile/_edit-profile-modal.html.twig" with {
				form: form,
				isProfileModalOpen: isProfileModalOpen|default(false)
			} %}

			{% include "rider_galop/_rider-galop-modal.html.twig" with {
				modalId: 'rider-galop-add-modal',
				modalTitle: 'rider.add_galop',
				form: riderGalopForm,
				isOpen: isRiderGalopModalOpen|default(false)
			} %}
		{% endif %}

	</section>
{% endblock %}
