{% extends "base.html.twig" %}

{% block title %}
	{{ 'rider.profile' | trans }}
{% endblock %}

{% block body %}
	<section id="rider" class="rider-profile">
		<div class="rider-profile__header">
			<h1>{{ 'rider.profile' | trans }}</h1>

			{% if rider %}
				<a href="#" class="rider-profile__edit-link" aria-label="Modifier mon profil">
					<i class="fa-solid fa-pen"></i>
				</a>
			{% endif %}
		</div>

		{% if rider is null %}
			<div class="rider-profile__empty">
				{{ 'rider.no_rider' | trans }}
			</div>
		{% else %}
			<div class="rider-profile__layout">
				{% include "rider_profile/_info-rider.html.twig" with {
                    rider: rider,
                    lastGalop: lastGalop
                } %}

				<section class="rider-profile-panel">
					{% include "rider_profile/_tabs.html.twig" %}

					<div class="rider-profile-panel__content">
						<div class="rider-profile-tab-content rider-profile-tab-content--active" id="tab-galops">
							{% include "rider_profile/_tab-galops.html.twig" with {
                                galopHistory: galopHistory
                            } %}
						</div>
					</div>
				</section>
			</div>
		{% endif %}

	</section>
{% endblock %}
