{% import "macros/macros.html.twig" as macros %}

<nav class="details-tabs" aria-label="Navigation des détails d'un cheval">
	{{ macros.tab(
        'fa-solid fa-medal',
        'rider.galop_history',
        'tab-galops',
        true
    ) }}

	{{ macros.tab(
        'fa-solid fa-trophy',
        'rider.competitions',
        'tab-competitions'
    ) }}

	{{ macros.tab(
        'fa-solid fa-horse',
        'rider.horses',
        'tab-horses'
    ) }}
</nav>
