.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-color: currentcolor;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.icon-horse {
    mask-image: url('../../images/icons/horse.svg');
}