/* Variables and components*/
@use 'general/variables' as *;
@use 'general/layout';

@use 'components/buttons';
@use 'components/navTabs';
@use 'components/icons';
@use 'components/modal';
@use 'components/card';

@use './rider';
@use './horse';
@use 'login';

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;

    &.has-open-modal {
        overflow: hidden;
    }

    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h2;
    }
    h3 {
        font-size: $h3;
    }
}
